@font-face {
    font-family: "Amoria";
    src: url(AMORIA.otf);
}

@font-face {
    font-family: "Calli font";
    src: url("Callifornia Signature.ttf");
}

:root {
    --clr-dark: #020617;
    --clr-light: #f1f5f9;
    --clr-slate: #94a3b8;
    --clr-primary: #e11d48;
    --clr-website_palette1: #d68a06;
    --clr-website_palette2: #3f0c00;
    --clr-hover_text: #170f01;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    box-sizing: border-box;
}
body {
    background-color: var(--clr-light);
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 200px;
    box-sizing: inherit;
}

.title {
    font-family: "Amoria";
    font-weight: 100;
    font-size: 6lvh;
    text-align: center;
}

.title-2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    text-align: center;
}

.main-title {
    margin: 15px;
}

.main-nav {
    color: white;
    border-top: solid #1f5673 2px;
    border-bottom: solid #1f5673 2px;
    padding: 20px;
    margin: 30px;
}

nav ul li a {
    font-size: large;
    color: black;
    text-decoration: none;
    padding: 5px;
    transition: 0.3s;
}

nav ul li a:hover {
    font-size: larger;
    color: gray;
    text-decoration: overline;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 25px;
}

.verseoftheday-div {
    margin-left: 30px;
}

.verseoftheday {
    font-style: italic;
}

.main-body-div {
    color: white;
    display: flex;
    justify-content: center;
    background-image: url("homepage-img.png");
    background-size: cover;
    background-position: center;
}

.main-welcome {
    font-size: 18lvh;
    font-family: "Calli font";
    padding: 10px;
    margin-top: 10px;
    font-weight: 100;
}

.location-group {
    margin-left: 25px;
}

h2 {
    font-family: "Calli font";
    font-size: 60px;
    margin-left: 25px;
}

.quote {
    margin-left: 10px;
    padding-right: 81%;
    font-style: italic;
}

h3.title-2 {
    font-family: "Calli font";
    font-size: 60px;
    margin-left: 25px;
}

form {
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888;
    padding: 50px;
    text-align: left-center;
    margin: 10px;
}

input[type=text],textarea {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    font-size: 15px;
    margin: 5px 0 20px;
    padding: 10px;
    width: 100%
}

.error {
    color: red;
    font-size: .9em;
    padding: -5px
}

.submit-btn{
    width: 100px;
    border-radius: 5px;
    font-size: 15px;
    height: 25px;
    background-color: #cbeef3;
}

.submit-btn:hover {
    background-color: #6ea4bf;
}

footer {
    background-image: radial-gradient(#6ea4bf, #cbeef3);
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
}

.footer-content {
    display: inline;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.footer-title{
    font-size: 25px;
}

.footer-ul, .li-2 {
    display: inline;
    padding: 20px;
    font-size: 20px;
}

.li-2 {
    cursor: pointer;
}

.li-2:hover {
    color: gray;
}

.footer-copyright {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: gray;
}
